extends layout

block content
  .content
    form#contact-form
      .form-group.row
        .col-xs-12.col-md-6
          input.form-control(type='text', placeholder='Name')
        .col-xs-12.col-md-6
          input.form-control(type='email', placeholder='Email')
      .form-group.row
        .col-xs-12.col-md-6
          input.form-control(type='tel', placeholder='Phone')
        .col-xs-12.col-md-6
          input.form-control(type='tel', placeholder='Fax')
      .form-group.row
        .col-xs-12.col-md-6
          input.form-control(type='text', placeholder='Address')
        .col-xs-12.col-md-6
          input.form-control(type='text', placeholder='Postal code')
      .form-group.row
        .col-xs-12.col-md-6
          input.form-control(type='text', placeholder='City')
        .col-xs-12.col-md-6
          input.form-control(type='text', placeholder='Province')
      .form-group.row
        .col-xs-12
          textarea.form-control(placeholder='Message', rows='5')
      button.btn.btn-primary.btn-lg(type='submit') Send