extends layout

block content
  .content
    .container-fluid
      .row
        each src in thumbs
          .col-xs-6.col-sm-4.col-md-3.col-lg-2.img-centered
            img.thumb(src=src, height='126', width='126', data-toggle='modal', data-target='#image-modal')
  #image-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span &times;
        .modal-body
          img#modal-image
        .modal-footer
          img#prev-img(src='images/arrow-left.png')
          img#next-img(src='images/arrow-right.png')