doctype html
html
  head
    meta(name='viewport', content-width='width=device-width, initial-scale=1.0')
    title= title
    link(rel="apple-touch-icon", sizes="57x57", href="/images/favicon/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/images/favicon/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/images/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/images/favicon/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/images/favicon/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/images/favicon/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/images/favicon/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/images/favicon/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/images/favicon/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/images/favicon/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/images/favicon/favicon-194x194.png", sizes="194x194")
    link(rel="icon", type="image/png", href="/images/favicon/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/images/favicon/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/images/favicon/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/images/favicon/manifest.json")
    link(rel="mask-icon", href="/images/favicon/safari-pinned-tab.svg", color="#5bbad5")
    link(rel="shortcut icon", href="/images/favicon/favicon.ico")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="msapplication-TileImage", content="/images/favicon/mstile-144x144.png")
    meta(name="msapplication-config", content="/images/favicon/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")    
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.12.2.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/javascripts/pictures.js')    
    script(src='/javascripts/align_footer.js')
  body
    .navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#tabs')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Refine Renovations
        #tabs.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if navbar_links
              each vals,link in navbar_links
                if vals.active
                  li.active
                    a(href=vals.destination)= link
                else
                  li
                    a(href=vals.destination)= link
    block content
    .container-fluid.footer
      .row
        .col-sm-4.footer-info
          p.footer-title Address
          p.footer-info 10011 167 Street
          p.footer-info Edmonton, AB
          p.footer-info.bottom T5P 3W3
        .col-sm-4.footer-info
          p.footer-info Contact person: James Belovich
          p.footer-info Phone: (780) 433-6995
          p.footer-info Fax: (780) 433-0221
          p.footer-info.bottom Email: 
            a#email(href="mailto:refine.renovations@telus.net") refine.renovations@telus.net
        .col-sm-4.footer-info
          p.footer-title Hours
          p.footer-info Monday: 8:00 am to 4:30 pm
          p.footer-info Tuesday: 8:00 am to 4:30 pm
          p.footer-info Wednesday: 8:00 am to 4:30 pm
          p.footer-info Thursday: 8:00 am to 4:30 pm
          p.footer-info Friday: 8:00 am to 4:30 pm          
