/*-------- General --------*/
body {
    position: relative;
    margin: 0;
    color: #fff;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
  color: #00B7FF;
}

/*-------- Home --------*/
img#logo {
    display: block;
    max-width: 100%;
    margin: auto;
}

h1#services_title {
    padding-left: 5%;
    padding-bottom: 30px;
    font-size: 290%;
}

.service {
    font-size: 150%;
    text-align: center;
    padding-bottom: 20px;
}

p.about {
    font-size: 150%;
    text-indent: 50px;
    padding-bottom: 50px;
}

/*-------- Gallery --------*/
.img-centered {
    text-align: center;
    margin-bottom: 20px;
}

img.thumb {
    border: 3px solid #e0e0e0;
    border-radius: 2px;
    box-shadow: 3px 3px 8px #0c0c0c;
    cursor: pointer;
}

#prev-img {
    float: left;
    margin-left: 20px;
    cursor: pointer;
    transition: margin-left 0.3s;
}

#prev-img:hover {
    margin-left: 16px;
}

#next-img {
    float: right;
    margin-right: 20px;
    cursor: pointer;
    transition: margin-right 0.3s;
}

#next-img:hover {
    margin-right: 16px;
}

.hidden-img {
    display: none;
}

.modal-body {
    text-align: center;
}

/*-------- Contact --------*/
#contact-form {
    margin: 20px 25px;
}

.contact-input {
    margin-bottom: 15px;
}

label {
    font-size: 140%;
    color: #e6e6e6;
}

/*-------- Footer --------*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 30px;
    background-color: rgba(50,50,50,0.7);
    border-radius: 8px;
    transition: background-color 1s;
}

.footer:hover {
    background-color: rgba(50,50,50,1);
}

.footer-title {
    font-size: 170%;
    color: #eee;
    text-align: center;
}

.footer-info {
    font-size: 130%;
    color: #ccc;
    text-align: center;
    margin-bottom: 0px;
}

p.bottom {
    margin-bottom: 30px;
}

#email,
#email:visited {
    color: #00ccff;
    text-decoration: none;
    transition: color 0.6s;
}

#email:hover {
    color: #006680;
    text-decoration: none;
}